<h1>Modifier le potin</h1>

<%= form_with model: @gossip, local: true do |f| %>

  <!-- Affichage du prénom de l'auteur, mais en lecture seule -->
  <div>
    <%= f.label :author, "Auteur du potin" %>
    <%= f.text_field :author, value: @gossip.user&.first_name, disabled: true %>
  </div>

  <div>
    <%= f.label :title, "Titre" %>
    <%= f.text_field :title %>
  </div>

  <div>
    <%= f.label :content, "Contenu" %>
    <%= f.text_area :content %>
  </div>

  <!-- Champ caché pour user_id pour s'assurer que l'auteur ne change pas -->
  <%= f.hidden_field :user_id, value: @gossip.user.id %>

  <div>
    <%= f.submit "Modifier le potin" %>
  </div>

<% end %>
