<h1>Créer un nouveau potin</h1>

<%= form_with model: @gossip, local: true do |f| %>


  <div>
    <%= f.label :title, "Titre" %>
    <%= f.text_field :title %>
  </div>

  <div>
    <%= f.label :content, "Contenu" %>
    <%= f.text_area :content %>
  </div>

  <div>
    <%= f.submit "Créer le potin" %>
  </div>
<% end %>
