<%= stylesheet_link_tag "gossip", media: "all" %>

<div class="gossip-container" style="border: 4px solid <%= @random_color %>; padding: 15px;">
  <h1 style="color: <%= @random_color %>;">
    <%= @gossip.title %>
  </h1>
  <p><%= @gossip.content %></p>
  <p>Écrit par : <%= @gossip.user&.first_name.presence ? link_to(@gossip.user.first_name, user_path(@gossip.user)) : "Anonymous" %></p>
  <p>Créé le : <%= @gossip.created_at.strftime("%d/%m/%Y à %H:%M") %></p>
  <p class="card-text"></p><a href="<%= edit_gossip_path %>" class="btn btn-light btn-sm">Modifier le gossip</a>
</div>
